fastapi
uvicorn[standard]
motor
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
python-dotenv
pymongo
fastapi-mail
python-multipart
yfinance
pandas
redis
apscheduler
scikit-learn>=1.0.0
numpy
tensorflow-cpu>=2.13.0
statsmodels
TA-Lib
matplotlib
seaborn